 <ion-menu menuId="immigration-menu" contentId="immigration">
   <ion-header>
     <ion-toolbar class="tcontainer" color="tertiary">
       <ion-title>
         <div style="text-align: center !important; margin-bottom: 5vh !important;">
           <div class="toolheader">
             <ion-img src="assets/img/badge_immigration.png"></ion-img>
           </div>
           <h5>Nigerian Immigration</h5>
           <h5>Service</h5>
         </div>
       </ion-title>
     </ion-toolbar>
   </ion-header>
   <ion-content  >
     <ion-list color="tertiary">
       <ion-menu-toggle auto-hide="false" *ngFor="let p of pages" >
         <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" detail>
           <ion-icon slot="start" name="{{ p.icon }}"></ion-icon>
           <ion-label>
             {{ p.title }}
           </ion-label>

         </ion-item>
       </ion-menu-toggle>
     </ion-list>
   </ion-content>

 </ion-menu>
 <ion-router-outlet id="immigration" main></ion-router-outlet>