 <ion-menu menuId="frsc-menu" contentId="frsc">
   <ion-header>
     <ion-toolbar class="tcontainer" color="success">
       <ion-title>
         <div style="text-align: center !important; margin-bottom: 5vh !important;">
           <div class="toolheader">
             <ion-img src="assets/img/badge_frsc.png"></ion-img>
           </div>
           <h4> FRSC</h4>
         </div>
       </ion-title>
     </ion-toolbar>
   </ion-header>
   <ion-content>
     <ion-list color="success">
       <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
         <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" detail>
           <ion-icon slot="start" name="{{ p.icon }}"></ion-icon>
           <ion-label> {{ p.title }}</ion-label>

         </ion-item>
       </ion-menu-toggle>
     </ion-list>
   </ion-content>
 </ion-menu>
 <ion-router-outlet id="frsc" main></ion-router-outlet>