<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<a routerLink="/policemenu/personnel-identification"> Police Menu</a> <br>
<a routerLink="/armymenu/personnel-search"> Army Menu</a><br>
<a routerLink="/frscmenu/personnel-search"> frsc Menu</a><br>
<a routerLink="/immigrationmenu/personnel-search"> immigration Menu</a><br>
<a routerLink="/ndleamenu/personnel-search"> ndlea Menu</a><br>
<a routerLink="/civildefense/personnel-search"> Civil Defense Menu</a>


</ion-content>
